{% extends 'blog/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'usersApp/pr-confirm.css' %}"/> 
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token%}

            <fieldset>

                <legend>Reset Password</legend>

                {{ form|crispy }}

                <div id="reset-confirm">
                    <button type="submit">Reset Password</button>
                </div>

            </fieldset>
            
        </form>
    </div>
{% endblock %}