#reset-confirm{
    margin-top: 1vw;
}

#reset-confirm button{
    border: 0.2vw solid rgb(92, 16, 58);
    font-family: Cambria;
    background-color: rgb(121, 25, 78);
    color: white;
    padding: 0.2vw;
    width: 9vw;
}

#reset-confirm button:hover{
    color: orange;
}